.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: "header header header"
                         "intro . image-1"
                         "contact contact contact"
                         "image-2 . about-me"
                         "social-media social-media social-media"
                         "footer footer footer";
    grid-gap: 1em;
}
.header {
    background: pink;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    /* grid-column-start: span 2; */
}
.intro {
    background: blue;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.image-1 {
    background: purple;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.contact {
    background: orange;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    /* grid-column-start: span 2; */
}
.about-me {
    background: red;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    /* grid-column-start: span 2;
    display: flex;
    flex-direction: row-reverse; */
}
.image-2 {
    background: yellow;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    /* display: grid;
    grid-template-columns: 1fr; */
}
.social-media {
    background: green;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    /* grid-column-start: span 2; */
}
.footer {
    background: violet;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    /* grid-column-start: span 2; */
}